# Vendor directories
vendor/*

# Sqlite DB
src/app.db

.vagrant/machines/default/virtualbox/id

cache/twig.cache/1a/0b/9e036607b5e5c04ec5713f41da5f.php

bin/behat

bin/doctrine

bin/doctrine.php

bin/phpunit

cache/twig.cache/4b/89/1fd298a8e856ae1791923eb4012e.php

cache/twig.cache/7c/85/ec395677a65692ba94d0ab75d4f5.php

cache/twig.cache/82/51/101c08627a06802b7f181b092ca2.php

cache/twig.cache/c2/13/4a182aa1130c2315f464ca0143a8.php

cache/twig.cache/c4/54/eae6b2d2ee48f00f290852a49eba.php

cli/cli-config.php

cli/database.sqlite

cli/doctrine.php
