body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.article .label {
  float:right;
}

.icon-home {
  margin-top:5px;
  margin-right:15px;
}

ul.news-articles {
  list-style:none;
  margin-left:0px;
}
