{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block meta_description %}Application setup required} {% endblock %}
{% block content %}
 <div class="span2"></div>
        <div class="span8 hero-unit">
          <h1>Setup</h1>
          <p class="lead">Welcome to the application, before I can show you the homepage I need to add some news for you to see.
          </p>
          <p>
            <a class="btn btn-primary btn-large">
              Ok, add some news please »
            </a>
          </p>
        </div>
        <div class="span2"></div>
{% endblock %}